@charset "UTF-8";

body{
    background-color: rgb(255, 210, 244);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(95, 0, 44);
}

/*EDITANDO PELA ID (não precisa da tag. Ex: #principal ou .basico)*/

/*em HTML é id, em CSS é #
em HTML é class, em CSS é .
*/


h1#principal{
    text-align: center;
    background-color: rgb(85, 8, 55);
    color: white;
}
h2{
    color: black;
}

/* as classes devem ser usadas quando houver duas ou mais tags que você quer editar. Já a id para casos exclusivos*/
.basico{
    background-color: black;
    color: white;
}

/* é possível inserir duas ou mais classes para uma tag e também id e class (id sobrepõe as configurações de classe) -> separar por espaço*/